<div class ='container'>
  <div class="panel panel-info" >
      <div class="panel-heading" >
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseAllGames" aria-expanded="false" aria-controls="collapseAllGames">
        {{game.home}} vs. {{game.away}} - {{game.date}}</a>
      </div>
</div>
<div class="collapse" id='collapseAllGames'>
    <div data-id="{{game.id}}">
      <!-- <h5> Actions: </h5> -->
      <hr class='featurette-divider'>
      <button class="deleteGame btn btn-danger"> Delete Game </button>
      <button class='backToAllGamesButtons btn btn-primary'> Return to All Games</button>
      <button class='editGameFromShow btn btn-info'> Edit Game</button>
    </div>
      <div class="panel-body" >
        <br>
        <table class="table">
          <h3> Game Events </h3>
          <thead>
              <td> Minute</td>
              <td> Team</td>
              <td> Event Type</td>
              <td> Player</td>
          </thead>
          <tbody>
  {{#each game.events as |event|}}
            <tr>
                <td>{{event.minute}}</td>
                <td>{{event.team}}</td>
                <td>{{event.eventType}}</td>
                <td>{{event.player}}</td>
                <td>{{event.comment}}</td>

            </tr>
              {{/each}}
            </tbody>
        <br>
      </div>
    </div>
  </div>
