{{#each games as |game|}}
<br>
  <div class="panel panel-info" data-id="{{game.id}}">
      <div class="panel-heading">{{game.home}} vs. {{game.away}} - {{game.date}}</div>
      <div class="panel-body">
        {{game.events}}
      </div>
    </div>
{{/each}}
